<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TP1_Telematique.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TP1_Telematique.Properties.Settings>
            <setting name="TAILLE_FENETRE" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="CONTIENT_ERREURS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TYPE_REJET" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TYPE_CODE" serializeAs="String">
                <value>1</value>
            </setting>
        </TP1_Telematique.Properties.Settings>
    </userSettings>
</configuration>